In [ ]:
!git clone https://github.com/abhishek130904/UIDAI-Hackathon.git

Cloning into 'UIDAI-Hackathon'...
remote: Enumerating objects: 18, done.
remote: Counting objects: 100% (18/18), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 18 (delta 10), reused 18 (delta 10), pack-reused 0 (from 0)
Receiving objects: 100% (18/18), 36.59 MiB | 24.08 MiB/s, done.
Resolving deltas: 100% (10/10), done.
Updating files: 100% (12/12), done.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np

In [ ]:
import pandas as pd
import glob
import os

In [ ]:
path = '/content/UIDAI-Hackathon/Dataset UIDAI/api_data_aadhar_biometric'

# Find all biometric CSV files in that folder
all_files = glob.glob(os.path.join(path, "*.csv"))

# Read each file and append to a list
# 'low_memory=False' helps avoid DtypeWarnings with large Aadhaar datasets
df_list = [pd.read_csv(f, low_memory=False) for f in all_files]

# Concatenate all files into one single DataFrame
biometric_master_df = pd.concat(df_list, axis=0, ignore_index=True)

# Save the combined file to your Drive or local Colab storage
biometric_master_df.to_csv('master_biometric_data.csv', index=False)

print(f"Merged {len(all_files)} files.")
print(f"Total records for analysis: {len(biometric_master_df)}")

Merged 4 files.
Total records for analysis: 1861108

In [ ]:
path = '/content/UIDAI-Hackathon/Dataset UIDAI/api_data_aadhar_demographic'

# Find all biometric CSV files in that folder
all_files = glob.glob(os.path.join(path, "*.csv"))

# Read each file and append to a list
# 'low_memory=False' helps avoid DtypeWarnings with large Aadhaar datasets
df_list = [pd.read_csv(f, low_memory=False) for f in all_files]

# Concatenate all files into one single DataFrame
demographic_master_df = pd.concat(df_list, axis=0, ignore_index=True)

# Save the combined file to your Drive or local Colab storage
demographic_master_df.to_csv('master_demographic_data.csv', index=False)

print(f"Merged {len(all_files)} files.")
print(f"Total records for analysis: {len(demographic_master_df)}")

Merged 5 files.
Total records for analysis: 2071700

In [ ]:
path = '/content/UIDAI-Hackathon/Dataset UIDAI/api_data_aadhar_enrolment'

# Find all biometric CSV files in that folder
all_files = glob.glob(os.path.join(path, "*.csv"))

# Read each file and append to a list
# 'low_memory=False' helps avoid DtypeWarnings with large Aadhaar datasets
df_list = [pd.read_csv(f, low_memory=False) for f in all_files]

# Concatenate all files into one single DataFrame
aadhar_enrolment_master_df = pd.concat(df_list, axis=0, ignore_index=True)

# Save the combined file to your Drive or local Colab storage
aadhar_enrolment_master_df.to_csv('master_aadhar_enrolment_data.csv', index=False)

print(f"Merged {len(all_files)} files.")
print(f"Total records for analysis: {len(aadhar_enrolment_master_df)}")

Merged 3 files.
Total records for analysis: 1006029

In [ ]:
biometric_master_df.columns

Index(['date', 'state', 'district', 'pincode', 'bio_age_5_17', 'bio_age_17_'], dtype='object')

In [ ]:
demographic_master_df.columns

Index(['date', 'state', 'district', 'pincode', 'demo_age_5_17',
       'demo_age_17_'],
      dtype='object')

In [ ]:
aadhar_enrolment_master_df.columns

Index(['date', 'state', 'district', 'pincode', 'age_0_5', 'age_5_17',
       'age_18_greater'],
      dtype='object')

In [ ]:
biometric_master_df.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,07-11-2025,Haryana,Yamuna Nagar,135002,4,6
1,07-11-2025,Haryana,Yamunanagar,135001,1,2
2,07-11-2025,Himachal Pradesh,Bilaspur,174004,2,2
3,07-11-2025,Himachal Pradesh,Bilaspur,174005,1,0
4,07-11-2025,Himachal Pradesh,Bilaspur,174013,3,1

In [ ]:
demographic_master_df.head()

         date        state    district  pincode  demo_age_5_17  demo_age_17_
0  19-09-2025  Maharashtra      Satara   415517              0             2
1  19-09-2025  Maharashtra      Satara   415518              0             2
2  19-09-2025  Maharashtra      Satara   415520              0             3
3  19-09-2025  Maharashtra      Satara   415539              1             5
4  19-09-2025  Maharashtra  Sindhudurg   416510              4            37

In [ ]:
aadhar_enrolment_master_df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,26-10-2025,Andhra Pradesh,Nalgonda,508004,0,1,0
1,26-10-2025,Andhra Pradesh,Nalgonda,508238,1,0,0
2,26-10-2025,Andhra Pradesh,Nalgonda,508278,1,0,0
3,26-10-2025,Andhra Pradesh,Nandyal,518432,0,1,0
4,26-10-2025,Andhra Pradesh,Nandyal,518543,1,0,0

In [ ]:
for df in [biometric_master_df, demographic_master_df, aadhar_enrolment_master_df]:
    df['date'] = pd.to_datetime(df['date'], dayfirst=True, errors='coerce')

In [ ]:
def normalize_district(x):
    x = str(x).lower().strip()
    x = x.replace(" ", "")
    return x

for df in [biometric_master_df, demographic_master_df, aadhar_enrolment_master_df]:
    df['district_norm'] = df['district'].apply(normalize_district)

In [ ]:
num_cols_enroll = ['age_0_5','age_5_17','age_18_greater']
num_cols_bio = ['bio_age_5_17','bio_age_17_']
num_cols_demo = ['demo_age_5_17','demo_age_17_']

aadhar_enrolment_master_df[num_cols_enroll] = aadhar_enrolment_master_df[num_cols_enroll].apply(pd.to_numeric, errors='coerce')
biometric_master_df[num_cols_bio] = biometric_master_df[num_cols_bio].apply(pd.to_numeric, errors='coerce')
demographic_master_df[num_cols_demo] = demographic_master_df[num_cols_demo].apply(pd.to_numeric, errors='coerce')

In [ ]:
biometric_master_df.head()

,date,state,district,pincode,bio_age_5_17,bio_age_17_,district_norm
0,2025-11-07,Haryana,Yamuna Nagar,135002,4,6,yamunanagar
1,2025-11-07,Haryana,Yamunanagar,135001,1,2,yamunanagar
2,2025-11-07,Himachal Pradesh,Bilaspur,174004,2,2,bilaspur
3,2025-11-07,Himachal Pradesh,Bilaspur,174005,1,0,bilaspur
4,2025-11-07,Himachal Pradesh,Bilaspur,174013,3,1,bilaspur

In [ ]:
enroll_district = aadhar_enrolment_master_df.groupby(
    ['state','district_norm']
)[num_cols_enroll].sum().reset_index()

bio_district = biometric_master_df.groupby(
    ['state','district_norm']
)[num_cols_bio].sum().reset_index()

demo_district = demographic_master_df.groupby(
    ['state','district_norm']
)[num_cols_demo].sum().reset_index()

In [ ]:
district_master = enroll_district.merge(
    bio_district, on=['state','district_norm'], how='left'
)

district_master = district_master.merge(
    demo_district, on=['state','district_norm'], how='left'
)

district_master.fillna(0, inplace=True)

In [ ]:
aadhar_enrolment_master_df

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater,district_norm
0,2025-10-26,andhra pradesh,nalgonda,508004,0,1,0,nalgonda
1,2025-10-26,andhra pradesh,nalgonda,508238,1,0,0,nalgonda
2,2025-10-26,andhra pradesh,nalgonda,508278,1,0,0,nalgonda
3,2025-10-26,andhra pradesh,nandyal,518432,0,1,0,nandyal
4,2025-10-26,andhra pradesh,nandyal,518543,1,0,0,nandyal
...,...,...,...,...,...,...,...,...
1006024,2025-12-31,west bengal,west midnapore,721149,2,0,0,westmidnapore
1006025,2025-12-31,west bengal,west midnapore,721150,2,2,0,westmidnapore
1006026,2025-12-31,west bengal,west midnapore,721305,0,1,0,westmidnapore
1006027,2025-12-31,west bengal,west midnapore,721504,1,0,0,westmidnapore
1006028,2025-12-31,west bengal,west midnapore,721517,2,1,0,westmidnapore

In [ ]:
district_master.head()

,state,district_norm,age_0_5,age_5_17,age_18_greater,bio_age_5_17,bio_age_17_,demo_age_5_17,demo_age_17_
0,100000,100000,0,1,217,0.0,0.0,0.0,2.0
1,andaman & nicobar islands,andamans,70,5,0,343.0,1672.0,7.0,743.0
2,andaman & nicobar islands,nicobars,1,0,0,1.0,1.0,0.0,4.0
3,andaman & nicobar islands,southandaman,38,0,0,61.0,306.0,6.0,299.0
4,andaman and nicobar islands,nicobar,64,11,0,992.0,819.0,58.0,729.0

In [ ]:
district_master.columns

Index(['state', 'district_norm', 'age_0_5', 'age_5_17', 'age_18_greater',
       'bio_age_5_17', 'bio_age_17_', 'demo_age_5_17', 'demo_age_17_'],
      dtype='object')

In [ ]:
district_master = district_master[
    district_master['state'].apply(lambda x: not str(x).isdigit())
]

In [ ]:
def normalize_text(x):
    return str(x).lower().strip()

district_master['state'] = district_master['state'].apply(normalize_text)

In [ ]:
district_master['total_enrolments'] = (
    district_master['age_0_5'] +
    district_master['age_5_17'] +
    district_master['age_18_greater']
)

In [ ]:
district_master['child_share'] = (
    (district_master['age_0_5'] + district_master['age_5_17']) /
    (district_master['total_enrolments'] + 1)
)

district_master['adult_share'] = (
    district_master['age_18_greater'] /
    (district_master['total_enrolments'] + 1)
)
district_master

In [ ]:
district_master['biometric_stress'] = (
    district_master['bio_age_17_'] /
    (district_master['age_18_greater'] + 1)
)

In [ ]:
district_master['demo_update_ratio'] = (
    district_master['demo_age_17_'] /
    (district_master['age_18_greater'] + 1)
)

In [ ]:
district_master['mobility_index'] = (
    district_master['demo_age_17_'] +
    district_master['age_18_greater']
)

district_master['mobility_index_norm'] = (
    district_master['mobility_index'] /
    district_master['mobility_index'].max()
)

In [ ]:
district_master[
    ['state','district_norm','total_enrolments',
     'child_share','biometric_stress',
     'demo_update_ratio','mobility_index_norm']
].head(15)

,state,district_norm,total_enrolments,child_share,biometric_stress,demo_update_ratio,mobility_index_norm
1,andaman & nicobar islands,andamans,75,0.986842,1672.000000,743.000000,0.001803
2,andaman & nicobar islands,nicobars,1,0.500000,1.000000,4.000000,0.000010
3,andaman & nicobar islands,southandaman,38,0.974359,306.000000,299.000000,0.000725
4,andaman and nicobar islands,nicobar,75,0.986842,819.000000,729.000000,0.001769
5,andaman and nicobar islands,northandmiddleandaman,132,0.992481,2603.000000,1897.000000,0.004603
6,andaman and nicobar islands,southandaman,190,0.994764,3491.000000,2957.000000,0.007175
7,andhra pradesh,adilabad,1419,0.998592,19915.000000,13347.500000,0.064776
8,andhra pradesh,allurisitharamaraju,1255,0.972134,290.542857,322.914286,0.027506
9,andhra pradesh,anakapalli,543,0.983456,353.444444,1298.666667,0.028379
10,andhra pradesh,anantapur,4415,0.999774,57731.000000,59789.000000,0.145073
11,andhra pradesh,ananthapur,1994,0.999499,20050.000000,20934.000000,0.050795
12,andhra pradesh,ananthapuramu,3187,0.996550,1733.545455,4012.000000,0.107107
13,andhra pradesh,annamayya,1021,0.896282,37.000000,262.688679,0.067818
14,andhra pradesh,bapatla,492,0.965517,122.529412,676.823529,0.027957
15,andhra pradesh,chittoor,8199,0.994634,1879.795455,3204.068182,0.342178

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

score_features = [
    'biometric_stress',
    'demo_update_ratio',
    'mobility_index_norm',
    'total_enrolments'
]

district_master_scaled = district_master.copy()

district_master_scaled[score_features] = scaler.fit_transform(
    district_master[score_features]
)

In [ ]:
district_master_scaled['risk_score'] = (
    0.4 * district_master_scaled['biometric_stress'] +
    0.3 * district_master_scaled['demo_update_ratio'] +
    0.2 * district_master_scaled['mobility_index_norm'] +
    0.1 * district_master_scaled['total_enrolments']
)

In [ ]:
district_master_scaled['risk_zone'] = pd.cut(
    district_master_scaled['risk_score'],
    bins=[-1, 0.33, 0.66, 1.0],
    labels=['Low','Medium','High']
)

In [ ]:
district_master_scaled[['state','district_norm','risk_score','risk_zone']].head(15)

                          state          district_norm  risk_score risk_zone
1     andaman & nicobar islands               andamans    0.014636       Low
2     andaman & nicobar islands               nicobars    0.000028       Low
3     andaman & nicobar islands           southandaman    0.003629       Low
4   andaman and nicobar islands                nicobar    0.009264       Low
5   andaman and nicobar islands  northandmiddleandaman    0.026895       Low
6   andaman and nicobar islands           southandaman    0.038372       Low
7                andhra pradesh               adilabad    0.206779       Low
8                andhra pradesh    allurisitharamaraju    0.011795       Low
9                andhra pradesh             anakapalli    0.015626       Low
10               andhra pradesh              anantapur    0.697434      High
11               andhra pradesh             ananthapur    0.244204       Low
12               andhra pradesh          ananthapuramu    0.059604       Low
13               andhra pradesh              annamayya    0.017446       Low
14               andhra pradesh                bapatla    0.010872       Low
15               andhra pradesh               chittoor    0.114945       Low

In [ ]:
def policy_recommendation(row):
    if row['biometric_stress'] > district_master['biometric_stress'].quantile(0.9):
        return "Upgrade biometric devices & enable iris authentication"

    elif row['demo_update_ratio'] > district_master['demo_update_ratio'].quantile(0.9):
        return "Open temporary enrolment/update centers for migrants"

    elif row['child_share'] > 0.95:
        return "Conduct school-based Aadhaar enrolment drives"

    elif row['total_enrolments'] > district_master['total_enrolments'].quantile(0.9):
        return "Increase staff capacity and appointment slots"

    else:
        return "Normal operations"

In [ ]:
district_master_scaled['policy_action'] = district_master.apply(
    policy_recommendation, axis=1
)

In [ ]:
district_master_scaled[
    ['state','district_norm','risk_zone','policy_action']
].head(20)

,state,district_norm,risk_zone,policy_action
1,andaman & nicobar islands,andamans,Low,Conduct school-based Aadhaar enrolment drives
2,andaman & nicobar islands,nicobars,Low,Normal operations
3,andaman & nicobar islands,southandaman,Low,Conduct school-based Aadhaar enrolment drives
4,andaman and nicobar islands,nicobar,Low,Conduct school-based Aadhaar enrolment drives
5,andaman and nicobar islands,northandmiddleandaman,Low,Conduct school-based Aadhaar enrolment drives
6,andaman and nicobar islands,southandaman,Low,Conduct school-based Aadhaar enrolment drives
7,andhra pradesh,adilabad,Low,Upgrade biometric devices & enable iris authen...
8,andhra pradesh,allurisitharamaraju,Low,Conduct school-based Aadhaar enrolment drives
9,andhra pradesh,anakapalli,Low,Conduct school-based Aadhaar enrolment drives
10,andhra pradesh,anantapur,High,Upgrade biometric devices & enable iris authen...
11,andhra pradesh,ananthapur,Low,Upgrade biometric devices & enable iris authen...
12,andhra pradesh,ananthapuramu,Low,Conduct school-based Aadhaar enrolment drives
13,andhra pradesh,annamayya,Low,Normal operations
14,andhra pradesh,bapatla,Low,Conduct school-based Aadhaar enrolment drives
15,andhra pradesh,chittoor,Low,Conduct school-based Aadhaar enrolment drives
16,andhra pradesh,cuddapah,Low,Upgrade biometric devices & enable iris authen...
17,andhra pradesh,dr.b.r.ambedkarkonaseema,Low,Conduct school-based Aadhaar enrolment drives
18,andhra pradesh,eastgodavari,Low,Upgrade biometric devices & enable iris authen...
19,andhra pradesh,eluru,Low,Conduct school-based Aadhaar enrolment drives
20,andhra pradesh,guntur,Low,Conduct school-based Aadhaar enrolment drives

In [ ]:
daily_ts = aadhar_enrolment_master_df.groupby(
    ['state','district_norm','date']
)['age_18_greater'].sum().reset_index()

In [ ]:
daily_ts['mean'] = daily_ts.groupby(
    ['state','district_norm']
)['age_18_greater'].transform('mean')

daily_ts['std'] = daily_ts.groupby(
    ['state','district_norm']
)['age_18_greater'].transform('std')

daily_ts['z_score'] = (
    (daily_ts['age_18_greater'] - daily_ts['mean']) /
    (daily_ts['std'] + 1)
)

In [ ]:
anomalies = daily_ts[abs(daily_ts['z_score']) > 3]
anomalies.head(15)

,state,district_norm,date,age_18_greater,mean,std,z_score
13,100000,100000,2025-12-15,161,10.333333,34.589497,4.233459
876,andhra pradesh,chittoor,2025-12-15,8,0.558442,1.292626,3.245867
1739,andhra pradesh,kurnool,2025-12-15,6,0.311688,0.862367,3.054345
2458,andhra pradesh,prakasam,2025-07-01,38,0.802632,4.400060,6.888325
2717,andhra pradesh,sripottisriramulunellore,2025-10-21,25,4.040000,5.488169,3.230495
2879,andhra pradesh,tirupati,2025-11-07,22,3.040000,4.774482,3.283412
2893,andhra pradesh,tirupati,2025-12-15,21,3.040000,4.774482,3.110236
3273,andhra pradesh,y.s.r,2025-12-15,7,0.445946,1.136468,3.067706
3434,arunachal pradesh,eastkameng,2025-11-19,13,0.233333,1.681068,4.761784
3590,arunachal pradesh,kurungkumey,2025-11-19,12,0.363636,2.088932,3.767116
3645,arunachal pradesh,longding,2025-07-01,33,0.569231,4.100188,6.358740
3956,arunachal pradesh,papumpare,2025-11-19,5,0.068493,0.585206,3.110957
4190,arunachal pradesh,uppersubansiri,2025-11-19,9,0.235294,1.289779,3.827752
4199,arunachal pradesh,westkameng,2025-07-01,10,0.281250,1.452625,3.962591
4348,assam,baksa,2025-04-01,187,4.819277,21.898961,7.955851